.Red {
    background-color: lightcoral;
} 

.Yellow {
    background-color: lightyellow;
}

.Blue {
    background-color: lightblue;
}

.Orange {
    background-color: rgb(253, 201, 103);
}

.Purple {
    background-color: rgb(255, 182, 251);
}

.Green {
    background-color: lightgreen;
}